<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculadora</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="calc">
        <div class="header">
          <p id="text-calc">calc</p>
          <div id="selector-theme">
            <p id="text-theme">theme</p>
          </div>
        </div>
        <div class="display">
          <div class="display-number"></div>
        </div>
        <div class="container-number">
          <ul>
            <div class="row-1">
              <li><button id="7">7</button></li>
              <li><button id="8">8</button></li>
              <li><button id="9">9</button></li>
              <li><button id="del">DEL</button></li>
            </div>
            <div class="row-2">
              <li><button id="4">4</button></li>
              <li><button id="5">5</button></li>
              <li><button id="6">7</button></li>
              <li><button id="+">+</button></li>
            </div>
            <div class="row-3">
              <li><button id="1">1</button></li>
              <li><button id="2">2</button></li>
              <li><button id="3">3</button></li>
              <li><button id="-">-</button></li>
            </div>
            <div class="row-4">
              <li><button id=".">.</button></li>
              <li><button id="0">0</button></li>
              <li><button id="/">/</button></li>
              <li><button id="x">x</button></li>
            </div>
            <div class="row-5">
              <li><button id="reset">RESET</button></li>
              <li><button id="igual">=</button></li>
            </div>
          </ul>
        </div>
      </div>
    </div>

    <script src="../static/scripts.js"></script>
  </body>
</html>
